.color_Wrapper
  center(1200px)
  align(center)
  margin-bottom: 50px
  h3
    text-align: center
  section
    align(center)
    column('1/1')
    .color
      column('1/4')
      // border: 5px solid $gray()
      border-radius: 5px
      size: 100px
  .gray
    align(center)
    .color
      column('1/11')
      size: 100px