// edit()

.home_Wrapper
  center(900px)
  height: calc(100vh - 90px)
  width: 100vh
  section
    width: 100%
    .title
      align(center)
      column('1/1')
      h1
        margin-top: 10px
        color: alpha($pc, 0.85)
        font-weight: bold
        span
          color: alpha($sc, 0.75)
    .magicPic
      align(center)
      img
        size: 50%
        border-radius: 50%
        box-shadow: 0px 0px 8px 0px alpha($pc, 0.75);
    .subTitle
      width: 200px
      margin: 0 auto
      span
        font-family: $header-font
    .gulpImg
      align(center)
      background: url('../images/gulp.png') no-repeat
      transition: all 0.6s ease-in-out;
      width: 115px
      height: 260px
      margin: 0 auto
      &:hover
        transition: all 0.6s ease-in-out;
        filter: invert(100%)
      img
        transition: all 0.6s ease-in-out;
        filter: invert(100%)
        &:hover
          transition: all 0.6s ease-in-out;
          filter: invert(0%)