// edit()

.magic_Wrapper
  center(900px)
  .title
    column('1/1')
    align(center)
    margin-top: 10%
    h1
      color: alpha($pc, 0.85)
      font-weight: bold
      span
        color: alpha($sc, 0.85)
  .gulpImg
    column('1/1')
    align(center)
    img
      margin-top: 20px
      transform: scale(1.2);
      transition: all 0.6s ease-in-out;
      filter: invert(0%)
      &:hover
        transition: all 0.6s ease-in-out;
        filter: invert(100%)
  .bigBtn
    column('1/1')
    align(center)
    margin-top: 40px