//Typographic
// grid-overlay(blue, 2)
.type_Overlay
  //Theses styles are what grid-overlay(blue, 2) generate, if you use it it will
  //be applied globally to the body, so this is just a workaround for this page
  background: linear-gradient(to top, rgba(0,0,255,0.1) 5%, alpha(#fff, 0) 5%);
  background-size: 100% 1.75em;
  background-position: 0 2px;
.type_Wrapper
  max-width: 980px
  margin: auto
  text-align: left
  .img-left
    float: left
    margin-right: vr-block()
    border-radius: 999em
    &.vr-block
      height: vr-block(5.25)
      margin-bottom: vr-block(.25)
  .launchbox-link
    position: fixed
    bottom: 0
    right: 0
    background: #333
    padding: 18px 35px 10px
    transition: all .25s ease
    border-radius: 10px 0 0 0
    img
      display: block
      height: 40px
    &:hover
      background: dodgerblue
    &:active
      background: darken(dodgerblue, 10%)
    @media (max-width: $min-width)
      border-radius: 6px 0 0 0
      padding: 13px 23px 6px
      img
        height: 25px