//- - var links = {home: './index.html', color: './color.html' };

//- nav
//-   ul
//-     li
//-       a(href=links.home) Home
//-     li
//-       a(href=links.color) Colors
//-     li 
//-       a(href="./magic-magic.html") Magic
//-     li Contact

- var links = {home: '/index.html', color: '/color.html' };

nav
  ul
    li
      a(href=links.home) Home
    li
      a(href=links.color) Colors
    li 
      a(href="../magic/magic.html") Magic
    li Contact