//Production links
//- - var links = {home: '/index.html', color: '/color.html' };
//Deploy links
- var links = {home: './', color: './color.html', magic: './magic-magic.html' };

nav
  ul
    li.navLink
      a(href=links.home) Home
    li.navLink
      a(href=links.color) Colors
    li.navLink
      a(href=links.magic) Magic