//Just tags for the gh pages
.artisin
  span
    span #{' <'}
    span #{'/'}
  span
    span A
    span r
    span t
    span i
    span s
    span i
    span n
  span #{'>'}

.git
  a(href="https://github.com/artisin/goFast", class="icon -git")
