//On deployment to git remeber this file will be in the root so your
//assets need to reflect that
extends ../../_layouts/main.jade

block title
  title Magic Show

block content
  .magic_Wrapper
    .title
      h1 It's <span> A Magic </span> Show
    .gulpImg
      img(src="../assets/images/gulp.png", alt="Gulp")
    .bigBtn
      #asyncBtn
        .span
        span Click To Async!
        .span

block script
  script(type="application/javascript", src="../assets/js/magic.chunk.js")
  script(type="application/javascript", src="../assets/js/main.js")