//Settings/Plugins
@import 'rupture';

//Mixins
@import '_base/mixins/*'
//Base
@import '_base/*'
//Generated Icons
@import '_generated/*'

//Defualt bg
body
  background: $bg

//code styl
code
  padding: 0
  padding-top: 0.2em
  padding-bottom: 0.2em
  margin: 0
  font-size: 85%
  background-color: rgba(0,0,0,0.04)
  border-radius: 3px