//Import Buttron
@import '_base/buttron/buttron'
//Import Style
@import '_base/buttron/buttronStyles'
//production
_Buttron['production'] = true

//--------------------------//
//Nav Links
//-------------------------//
.navLink
  twoLines({
    import:{
      style: _twoLinesStyle1
    }
  });

//--------------------------//
//Home
//-------------------------//
//SubTitle
.subTitle
  brackets({
    import:{
      style: _bracketsStyle4
    }
  })