//Settings/Plugins
ks-no-conflict = true
@import "kouto-swiss"
@import 'rupture';
@import 'lost';
//Lost Settings
$flexbox = true;
$gutter = 30px
$rtl = false
@import 'typographic';
//Type init
typographic()
//Resets
ks-meyer-reset()
ks-box-sizing-reset()
ks-normalize()

//Base
@import '_base/*'
//Generated Icons
@import '_generated/*'
//Component Styles
@import '_components/*'
//Page Styles
@import '_pages/*'

//Helper Overlays
//Lost Grid
// edit()
//Typographic
// grid-overlay(blue, 2)

// .gulp
//   filter: blur(5px);
//   background: rebeccapurple
//   size: 400px

