//Scripts

//Conditionals
<!--[if lt IE 9]>
script(type="application/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
<![endif]-->
<!--[if gt IE 8]><!-->
script(type="application/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
<!--<![endif]-->

//Animation
script(type="application/javascript", src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js")
script(type="application/javascript", src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TimelineLite.min.js")
script(type="application/javascript", src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js")
script(type="application/javascript", src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/plugins/ScrollToPlugin.min.js")


//Shared Inject
<!-- global:js -->
<!-- endinject -->

//Page specific scripts
block script

script(type="application/javascript", src='../assets/js/main.js')

//JQuery
script(type="application/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')