extends ../_layouts/mainLayout.jade

block title
  title Home

block content
  .home_Wrapper
    section
      h1 Tyler
      p  
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        | Ad tempore, dolore adipisci non repellat quia numquam. 
        | Dolor, culpa, expedita. Provident inventore iusto aperiam itaque facere eligendi commodi vero, aliquid blanditiis.
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eum nobis nihil eius ab facilis quaerat vel ipsam quis, mollitia vitae! Commodi velit nesciunt ex in. Ipsam blanditiis ipsum laudantium.


block script
  script(type="application/javascript", src="assets/js/app.js")