extends ../_layouts/mainLayout.jade

block title
  title Home

block content
  .home_Wrapper
    section
      h1 Go Fast tester
      .icon.-facebook
    section
      img(src="assets/images/gulp.png", alt="", class="gulp")


block script
  script(type="application/javascript", src="assets/js/app.js")