//Main
doctype html
html.no-js(lang="en")
  include ../_includes/header.jade
  body
    //Browse-Happy
    include ../_components/browseHappy.jade
    //Content
    block content
    //Footer
    include ../_includes/footer.jade