body,
.cf {
  *zoom: 1;
}
body:before,
.cf:before,
body:after,
.cf:after {
  content: '';
  display: table;
}
body:after,
.cf:after {
  clear: both;
}
*,
*:before,
*:after {
  *behavior: url("js/vendor/boxsizing.htc");
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, figure, fieldset {
  margin: 0;
}
html, body {
  height: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  overflow-y: scroll;
}
img,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
}
.browsehappy {
  width: 100%;
  padding: 15px;
  background: #333;
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  cursor: pointer;
  text-align: center;
}
.browsehappy a {
  color: #fff;
  font-weight: bold;
}
.browsehappy a:hover {
  text-decoration: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.agPC_0 {
  background: #14b5b4;
  color: #14b5b4;
}
.agPC_1 {
  background: #1465b5;
  color: #1465b5;
}
.agPC_2 {
  background: #14b564;
  color: #14b564;
}
.agePC_0 {
  background: #14b5b4;
  color: #14b5b4;
}
.agePC_1 {
  background: #14b564;
  color: #14b564;
}
.agePC_2 {
  background: #1415b5;
  color: #1415b5;
}
.agePC_3 {
  background: #15b514;
  color: #15b514;
}
.mcPC_0 {
  background: #14b5b4;
  color: #14b5b4;
}
.mcPC_1 {
  background: #32e8e7;
  color: #32e8e7;
}
.mcPC_2 {
  background: #18dad8;
  color: #18dad8;
}
.spcPC_0 {
  background: #14b5b4;
  color: #14b5b4;
}
.spcPC_1 {
  background: #b51465;
  color: #b51465;
}
.spcPC_2 {
  background: #b56414;
  color: #b56414;
}
.triPC_0 {
  background: #14b5b4;
  color: #14b5b4;
}
.triPC_1 {
  background: #b414b5;
  color: #b414b5;
}
.triPC_2 {
  background: #b5b414;
  color: #b5b414;
}
.qdPC_0 {
  background: #14b5b4;
  color: #14b5b4;
}
.qdPC_1 {
  background: #6414b5;
  color: #6414b5;
}
.qdPC_2 {
  background: #65b514;
  color: #65b514;
}
.qdPC_3 {
  background: #b51415;
  color: #b51415;
}
.qdPC_4 {
  background: ;
  color: ;
}
.agSC_0 {
  background: #eb4a4b;
  color: #eb4a4b;
}
.agSC_1 {
  background: #eb9a4a;
  color: #eb9a4a;
}
.agSC_2 {
  background: #eb4a9b;
  color: #eb4a9b;
}
.ageSC_0 {
  background: #eb4a4b;
  color: #eb4a4b;
}
.ageSC_1 {
  background: #eb4a9b;
  color: #eb4a9b;
}
.ageSC_2 {
  background: #ebea4a;
  color: #ebea4a;
}
.ageSC_3 {
  background: #ea4aeb;
  color: #ea4aeb;
}
.mcSC_0 {
  background: #eb4a4b;
  color: #eb4a4b;
}
.mcSC_1 {
  background: #f39394;
  color: #f39394;
}
.mcSC_2 {
  background: #ef6f6f;
  color: #ef6f6f;
}
.spcSC_0 {
  background: #eb4a4b;
  color: #eb4a4b;
}
.spcSC_1 {
  background: #4aeb9a;
  color: #4aeb9a;
}
.spcSC_2 {
  background: #4a9beb;
  color: #4a9beb;
}
.triSC_0 {
  background: #eb4a4b;
  color: #eb4a4b;
}
.triSC_1 {
  background: #4beb4a;
  color: #4beb4a;
}
.triSC_2 {
  background: #4a4beb;
  color: #4a4beb;
}
.qdSC_0 {
  background: #eb4a4b;
  color: #eb4a4b;
}
.qdSC_1 {
  background: #9beb4a;
  color: #9beb4a;
}
.qdSC_2 {
  background: #9a4aeb;
  color: #9a4aeb;
}
.qdSC_3 {
  background: #4aebea;
  color: #4aebea;
}
.qdSC_4 {
  background: ;
  color: ;
}
.gray_0 {
  background: #000;
  color: #000;
}
.gray_1 {
  background: #1a1a1a;
  color: #1a1a1a;
}
.gray_2 {
  background: #333;
  color: #333;
}
.gray_3 {
  background: #4d4d4d;
  color: #4d4d4d;
}
.gray_4 {
  background: #666;
  color: #666;
}
.gray_5 {
  background: #808080;
  color: #808080;
}
.gray_6 {
  background: #999;
  color: #999;
}
.gray_7 {
  background: #b3b3b3;
  color: #b3b3b3;
}
.gray_8 {
  background: #ccc;
  color: #ccc;
}
.gray_9 {
  background: #e6e6e6;
  color: #e6e6e6;
}
.gray_10 {
  background: #fff;
  color: #fff;
}
html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #666;
  font-size: 13px;
  line-height: 1.75em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 13px + (20 - 13) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 500;
  color: #4c4c4c;
  clear: both;
}
h1 {
  font-size: 30.17558911503566px;
  margin-top: 0.942400822452556em;
  line-height: 1.130880986943067em;
  margin-bottom: 0.188480164490511em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 30.17558911503566px + (46.423983253901014 - 30.17558911503566) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 46.423983253901014px;
    margin-top: 0.942400822452556em;
    line-height: 1.130880986943067em;
    margin-bottom: 0.188480164490511em;
  }
}
h2 {
  font-size: 25.49842035932217px;
  margin-top: 1.115265165420465em;
  line-height: 1.338318198504558em;
  margin-bottom: 0.249296192065023em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 25.49842035932217px + (39.228339014341806 - 25.49842035932217) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h2 {
    font-size: 39.228339014341806px;
    margin-top: 1.115265165420465em;
    line-height: 1.338318198504558em;
    margin-bottom: 0.240111086421698em;
  }
}
h3 {
  font-size: 21.546205389466092px;
  margin-top: 1.319837970815179em;
  line-height: 1.583805564978215em;
  margin-bottom: 0.300721294788032em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 21.546205389466092px + (33.14800829148629 - 21.546205389466092) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h3 {
    font-size: 33.14800829148629px;
    margin-top: 1.319837970815179em;
    line-height: 1.583805564978215em;
    margin-bottom: 0.287857499569283em;
  }
}
h4 {
  font-size: 18.20657751119601px;
  margin-top: 1.561935513828041em;
  line-height: 1.87432261659365em;
  margin-bottom: 0.363860879631168em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 18.20657751119601px + (28.01011924799386 - 18.20657751119601) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h4 {
    font-size: 28.01011924799386px;
    margin-top: 1.561935513828041em;
    line-height: 1.87432261659365em;
    margin-bottom: 0.345845057728222em;
  }
}
h5 {
  font-size: 15.384586690761246px;
  margin-top: 1.848440947528171em;
  line-height: 2.218129137033805em;
  margin-bottom: 0.369688189505634em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 15.384586690761246px + (23.668594908863454 - 15.384586690761246) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h5 {
    font-size: 23.668594908863454px;
    margin-top: 1.84844094752817em;
    line-height: 2.218129137033805em;
    margin-bottom: 0.369688189505634em;
  }
}
h6 {
  font-size: 13px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.605769230769231em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 13px + (20 - 13) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h6 {
    font-size: 20px;
    margin-top: 2.1875em;
    line-height: 2.625em;
    margin-bottom: 0.471153846153846em;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  margin-bottom: 1.75em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.0875em 0.2625em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #4c4c4c;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.8375em;
}
@media (min-width: 1000px) {
  fieldset {
    margin-bottom: 2.078125em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #4c4c4c;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.21875em;
  margin-bottom: -0.21875em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.4375em;
  font-size: 13px;
  margin-bottom: 1.18125em;
}
@media (min-width: 600px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 13px + (20 - 13) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 20px;
    margin-bottom: 0.5140625em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 13px;
  padding: 0.4375em 1.75em;
  margin-bottom: 1.18125em;
}
@media (min-width: 600px) {
  input[type="submit"],
  button {
    font-size: calc( 13px + (20 - 13) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  input[type="submit"],
  button {
    font-size: 20px;
    margin-bottom: 1.3125em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.1875em;
}
@media (min-width: 1000px) {
  table {
    margin-bottom: 2.05625em;
  }
}
th {
  text-align: left;
  color: #4c4c4c;
  padding: 0.21875em 0.875em;
}
@media (min-width: 1000px) {
  th {
    padding: 0.4375em 0.875em;
  }
}
td {
  padding: 0.21875em 0.875em;
}
@media (min-width: 1000px) {
  td {
    padding: 0.4375em 0.875em;
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}
@font-face {
  font-family: icons;
  src: url("../../assets/fonts/icons-1fdff3ed.eot");
  src: url("../../assets/fonts/icons-1fdff3ed.eot?#iefix") format('embedded-opentype'), url("../../assets/fonts/icons-d8dee27e.woff") format('woff'), url("../../assets/fonts/icons-ca8d4496.ttf") format('truetype'), url("../../assets/fonts/icons-847ad039.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-family: "icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
.icon.-facebook:before {
  content: "\e001";
}
.icon.-linkedin:before {
  content: "\e002";
}
.icon.-pinterest:before {
  content: "\e003";
}
.icon.-twitter:before {
  content: "\e004";
}
body {
  background: #ecf0f1;
}
code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}
.navLink {
  position: relative;
  margin: 0;
  border: inherit;
  padding: 0;
  width: 200px;
  height: 40px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  box-shadow: initial;
  z-index: 0;
  color: #fff;
  font-weight: inherit;
  text-align: center;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
  text-decoration: none;
  line-height: 40px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.navLink > a {
  color: #666;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
.navLink > a {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
}
.navLink > a:hover {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 1s;
  color: #ecf0f1;
}
.navLink:hover > a::before {
  transition-property: background , -webkit-transform;
  transition-property: background , transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  background: rgba(0,0,0,0.3);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.navLink > a:before {
  transition-property: background , -webkit-transform;
  transition-property: background , transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0s;
  content: '';
  position: absolute;
  background: rgba(0,0,0,0.2);
  height: 5px;
  width: 60%;
  left: 20%;
  bottom: 0;
  border-radius: 2px;
}
.navLink:hover > a::after {
  transition: height 0.5s ease-in-out 0.5s , bottom 0.5s ease-in , -webkit-transform 0.5s ease-in 0.5s , opacity 0.4s ease-in , background 0.4s ease-in;
  transition: height 0.5s ease-in-out 0.5s , bottom 0.5s ease-in , transform 0.5s ease-in 0.5s , opacity 0.4s ease-in , background 0.4s ease-in;
  opacity: 1;
  bottom: 35px;
  background: #14b5b4;
  -webkit-transform: scale(1.2) translateY(30px);
          transform: scale(1.2) translateY(30px);
  height: 40px;
}
.navLink > a:after {
  transition: height 0.5s ease-in-out 0.5s , bottom 0.5s ease-in , -webkit-transform 0.5s ease-in 0.5s , opacity 0.4s ease-in , background 0.4s ease-in;
  transition: height 0.5s ease-in-out 0.5s , bottom 0.5s ease-in , transform 0.5s ease-in 0.5s , opacity 0.4s ease-in , background 0.4s ease-in;
  content: '';
  position: absolute;
  background: rgba(0,0,0,0.2);
  width: 60%;
  left: 20%;
  height: 5px;
  bottom: 0;
  border-radius: 2px;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.subTitle {
  position: relative;
  margin: 0em;
  border: inherit;
  padding: 0em;
  width: 200px;
  height: 60px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  box-shadow: initial;
  z-index: 0;
  color: #eb4a4b;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  font-family: inherit;
  vertical-align: middle;
  text-decoration: none;
  line-height: 60px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
@-webkit-keyframes daPolice {
  25% {
    color: #ecf0f1;
  }
  75% {
    color: #2c3e50;
  }
}
@keyframes daPolice {
  25% {
    color: #ecf0f1;
  }
  75% {
    color: #2c3e50;
  }
}
.subTitle:hover {
  -webkit-animation-name: daPolice;
          animation-name: daPolice;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
}
@-webkit-keyframes daPoliceSides {
  25% {
    color: #ecf0f1;
    top: -5px;
  }
  40% {
    top: -14px;
    border-color: #2c3e50;
  }
  75% {
    color: #2c3e50;
    top: -5px;
  }
}
@keyframes daPoliceSides {
  25% {
    color: #ecf0f1;
    top: -5px;
  }
  40% {
    top: -14px;
    border-color: #2c3e50;
  }
  75% {
    color: #2c3e50;
    top: -5px;
  }
}
.subTitle > span:hover:before {
  transition: -webkit-transform 0.3s , opacity 0.4s;
  transition: transform 0.3s , opacity 0.4s;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 1;
}
.subTitle > span:hover:before {
  -webkit-animation-name: daPoliceSides;
          animation-name: daPoliceSides;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 1;
}
.subTitle > span:before {
  transition: -webkit-transform 0.4s , opacity 0.2s;
  transition: transform 0.4s , opacity 0.2s;
  content: '[';
  position: absolute;
  left: 10%;
  top: -5px;
  opacity: 0;
  margin-right: 10px;
  font-size: 1.4em;
  color: #eb4a4b;
  border-top: 4px solid transparent;
  border-bottom: 5px solid #eb4a4b;
}
.subTitle > span:hover:after {
  transition: -webkit-transform 0.3s , opacity 0.4s;
  transition: transform 0.3s , opacity 0.4s;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 1;
}
.subTitle > span:hover:after {
  -webkit-animation-name: daPoliceSides;
          animation-name: daPoliceSides;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  -webkit-animation-play-state: initial;
          animation-play-state: initial;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 1;
}
.subTitle > span:after {
  transition: -webkit-transform 0.4s , opacity 0.2s;
  transition: transform 0.4s , opacity 0.2s;
  content: ']';
  position: absolute;
  right: 10%;
  top: -5px;
  opacity: 0;
  margin-left: 10px;
  font-size: 1.4em;
  color: #eb4a4b;
  border-top: 4px solid transparent;
  border-bottom: 5px solid #eb4a4b;
}
