//Defualt bg
body
  background: $bg

//app container
.app_container
  position: absolute
  height: 100vh
  width: 100vw
  overflow: hidden
  .content_container
    // width: 100%
    // padding-left: 1em
    // margin-left: 5vw
    float: left