extends _layouts/mainLayout.jade

block title
  title Buttons

block content
  .button_Wrapper
    section
      .bc1.active
        span Basic Click
      .bc2.active
        span Basic Click
      .bc2das.active
        span Basic Click
      .bc4
        span Basic Click
      .bc5
        span Basic Click
    //- section
    //-   .bc6
    //-     input(type="checkbox")
    //-     .anim
    //-     span Basic Click
    //-   .bc7
    //-     input(type="checkbox")
    //-     .anim
    //-     span Basic Click
    //-   .bc8
    //-     input(type="checkbox")
    //-     .anim
    //-     span Basic Click
    //-   .bc9
    //-     input(type="checkbox")
    //-     .anim
    //-     span Basic Click
    //-   .bc10
    //-     input(type="checkbox")
    //-     .anim
    //-     span Basic Click
    //- section
    //-   .ct1
    //-     input(type="checkbox")
    //-     span Basic Click
    //-   .ct2
    //-     input(type="checkbox")
    //-     span Basic Click
    //-   .ct3
    //-     input(type="checkbox")
    //-     span Basic Click
    //-   .ct4
    //-     input(type="checkbox")
    //-     span Basic Click
    //-     .parent
    //-   .ct5
    //-     input(type="checkbox")
    //-     span Basic Click
    //- section
    //-   #fuck
    //-     span Work