extends _layouts/main.jade

block title
  title Color

block content
  .color_Wrapper
    h3 Analogous
    section
      .color.ag_0
      .color.ag_1
      .color.ag_2
    h3 Extended-Analogous
    section
      .color.age_0
      .color.age_1
      .color.age_2
      .color.age_3
    h3 Monochrome
    section
      .color.mc_0
      .color.mc_1
      .color.mc_2
    h3 Split Complements
    section
      .color.sc_0
      .color.sc_1
      .color.sc_2
    h3 Triad
    section
      .color.ti_0
      .color.ti_1
      .color.ti_2
    h3 Quad
    section
      .color.qd_0
      .color.qd_1
      .color.qd_2
      .color.qd_3