extends _layouts/main.jade

block title
  title Color

block content
  .color_Wrapper
    h3 Primary-Color - 
     code $pc
    section
      .color.agPC_0
    h3 Analogous - 
     code $pc-ag[x]
    section
      .color.agPC_0
      .color.agPC_1
      .color.agPC_2
    h3 Extended-Analogous - 
      code $pc-age[x]
    section
      .color.agePC_0
      .color.agePC_1
      .color.agePC_2
      .color.agePC_3
    h3 Monochrome - 
      code $pc-mc[x]
    section
      .color.mcPC_0
      .color.mcPC_1
      .color.mcPC_2
    h3 Split Complements - 
      code $pc-spc[x]
    section
      .color.spcPC_0
      .color.spcPC_1
      .color.spcPC_2
    h3 Triad - 
      code $pc-tri[x]
    section
      .color.triPC_0
      .color.triPC_1
      .color.triPC_2
    h3 Quad - 
      code $pc-qd[x]
    section
      .color.qdPC_0
      .color.qdPC_1
      .color.qdPC_2
      .color.qdPC_3
    h3 Gray Shades - 
      code $gray(x)
    section.gray
      .color.gray_0
      .color.gray_1
      .color.gray_2
      .color.gray_3
      .color.gray_4
      .color.gray_5
      .color.gray_6
      .color.gray_7
      .color.gray_8
      .color.gray_9
      .color.gray_10
    h3 Secondary-Color - 
     code $sc
    section
      .color.agSC_0
    h3 Analogous - 
     code $sc-ag[x]
    section
      .color.agSC_0
      .color.agSC_1
      .color.agSC_2
    h3 Extended-Analogous - 
      code $sc-age[x]
    section
      .color.ageSC_0
      .color.ageSC_1
      .color.ageSC_2
      .color.ageSC_3
    h3 Monochrome - 
      code $sc-mc[x]
    section
      .color.mcSC_0
      .color.mcSC_1
      .color.mcSC_2
    h3 Split Complements - 
      code $sc-spc[x]
    section
      .color.spcSC_0
      .color.spcSC_1
      .color.spcSC_2
    h3 Triad - 
      code $sc-tri[x]
    section
      .color.triSC_0
      .color.triSC_1
      .color.triSC_2
    h3 Quad - 
      code $sc-qd[x]
    section
      .color.qdSC_0
      .color.qdSC_1
      .color.qdSC_2
      .color.qdSC_3