extends _layouts/main.jade

block title
  title Home

block content
  .home_Wrapper
    section
      h1 Making Magic Today. Center
      img(src="assets/images/magic.png", alt="magic")


block script
  script(type="application/javascript", src="assets/js/app.js")