extends _layouts/main.jade

block title
  title Home

block content
  .home_Wrapper
    section
      .title
        h1 Making <span>Magic</span> Today
      .magicPic
        img(src="assets/images/magic.png", alt="magic")
      .subTitle
        span Go Fast
      .gulpImg
        //- img(src="assets/images/gulp.png", alt="gulp")


block script
  script(type="application/javascript", src="assets/js/app.js")