extends _layouts/main.jade

block title
  title Home

block content
  .home_Wrapper
    section
      .title
        h1 Make <span>Magic</span> Today
      .magicPic
        img(src="assets/images/magic.png", alt="magic")
      .subTitle
        span Gulp Fast
      .gulpImg


block script
  script(type="application/javascript", src="assets/js/main.js")