extends _layouts/main.jade

block title
  title Cursor Move

block content
  section
    .title
      .click
        h1 Cursor 
      .move 
        h1 Move.


block script
  script(type="application/javascript", src="assets/js/main.js")